<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add chats</title>
</head>
<body>
    <h3>Type Your massege</h3>
    <br>
    <form method="POST" action="/chat">
        <input placeholder="Type Your Name" name="from"> <br> <br>
        <textarea placeholder="Enter your masseges" name="msg"></textarea> <br> <br>
        <input placeholder="Reciver type" name="to"><br> <br>
        <button>Submit</button>
    </form>
</body>
</html>